---
import heroImg from "@/assets/imgs/hero.jpg";
import ArrowRightAnim from "@/components/ui/arrow-right-anim.astro";

import { Badge } from "@/components/ui/badge";
import Button from "@/components/ui/Button.astro";
import Typography from "@/components/ui/Typography.astro";
import * as m from "@/paraglide/messages";
import { Image } from "astro:assets";
---

<section
  data-invert-header
  class="h-auto lg:h-screen text-background pt-32 grid size-full lg:grid-rows-[4fr_1fr] relative">
  <Image
    src={heroImg}
    alt=""
    class="cover-img h-96 lg:h-screen z-0"
    sizes="100vw"
    widths={[300, 450, 600, 900, 1200, 1600, 1920]}
    fetchpriority={"high"}
    loading={"eager"}
  />
  <div
    class="h-[50svh]! absolute w-full z-5 bg-foreground/45 mask-t-from-25% backdrop-blur-sm hidden lg:block lg:bottom-0!">
  </div>
  <div
    class="cover-img lg:h-screen h-[50svh] z-1 bg-linear-0 from-accent to-foreground opacity-60">
  </div>
  <!--  -->
  <div
    data-inverted="true"
    class:list={[
      "relative lg:place-self-center rounded-lg grid place-items-center",
      "text-background z-10 lg:bg-transparent bg-accent mx-4 p-5 h-fit",
      "",
    ]}>
    <div class="flex flex-col items-center justify-center gap-6 lg:gap-8">
      <h1 class="sr-only">{m.lost_silly_flea_emerge()}</h1>
      <Typography
        variant={"headline"}
        class="text-center leading-tight"
        set:html={m.born_super_jellyfish_shine()}
      />
      <Typography mw="p" class="text-center">
        {m.wacky_flat_vole_fade()}
      </Typography>
      <Button
        size="lg"
        as="a"
        href="/oferta/"
        class={"bg-background! group/arrow text-foreground! lg:bg-foreground! lg:text-background!"}>
        {m.last_sour_gazelle_stop()}
        <ArrowRightAnim />
      </Button>
    </div>
  </div>
  <div
    class="order-first lg:order-last h-fit mt-auto flex items-end justify-center z-10 p-rws">
    <div class="flex gap-2 flex-wrap items-center justify-center pt-16 lg:p-0">
      {
        [
          m.brief_close_opossum_trim(),
          m.sleek_polite_newt_quiz(),
          m.silly_such_herring_ascend(),
          m.polite_livid_mammoth_breathe(),
        ].map((t) => (
          <Badge variant={"outline"} size="lg" className="text-background">
            {t}
          </Badge>
        ))
      }
    </div>
  </div>
</section>
